body{
	background-color:#fff;
}
table{
font-family: sans-serif;
text-align: left;
border-collapse:separate;
border-spacing:2px;
background:#DCDCDC;
color:#C0C0C0;
border: 1px solid fff;
center;
margin-left: 3%;
}
.k{
	font-size: 25px;
	padding: 5px;
	background:#FFA07A;
	color:#fff;
}

td{
	font-size: 21px;
	padding: 5px;
	background:#fff;
}

th{
	font-size: 25px;
	padding: 5px;
	
	color:#fff;
}

.border-button {
  text-decoration: none;
  display: inline-block;
  padding: 20px 30px;
  margin: 10px 20px;
  position: relative;
  left: 80%;
  color: #C0C0C0;
  border: 1px solid rgba(255, 255, 255, .4);
  background:#FFF ;
  font-weight: 300;
  font-family: sans-serif, sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
}
.border-button:before, .border-button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
.border-button:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid #C0C0C0;
  border-top: 1px solid #C0C0C0;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
.border-button:after {
  top: 0;
  right: 0;
  border-right: 1px solid #C0C0C0;
  border-bottom: 1px solid #C0C0C0;
  transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}
.border-button:hover:before, 
.border-button:hover:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}
.border-button:hover:before {
  transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}
.border-button:hover:after {
  transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}
.border-button:hover {
  background: rgba(255, 255, 255, .2);
}