body{
	background-color:#DCDCDC;
}
table{
font-family: sans-serif;
text-align: left;
border-collapse:separate;
border-spacing:2px;
background:#87CEEB;
color:#191970;
border: 1px solid fff;
}
th{
	font-size: 25px;
	padding: 5px;
	background:#87CEFA;
}

td{
	font-size: 21px;
	padding: 5px;
	background:#ADD8E6;
}