body{
	background-color:#fff;
}
table{
font-family: sans-serif;
text-align: left;
border-collapse:separate;
border-spacing:2px;
background:#DCDCDC;
color:#C0C0C0;
border: 1px solid fff;
}
th{
	font-size: 25px;
	padding: 5px;
	background:#FF4500;
	color:#fff;
}

td{
	font-size: 21px;
	padding: 5px;
	background:#fff;
}